body{
    background-image: url(pic/817-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding-top: 30px;
}
video{
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 70px;
}