body{
    background-image: url(pic/adobe-brand-scaled.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.main{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    color: #fdfdfd;
    border-bottom-left-radius: 15px;
}
.moon1 a{
color: #66a6f8;
}
.moon2 a{
color: #cbbdec;
}
.moon3 a{
color: #d48a01;
}
.lin{
    display: flex;
    font-size: 1.7em;
}
.lin a{
    margin-left: 50px;
    text-decoration: none;
}
.wr{
    font-size: 3em;
}
.lin{
    padding: 25px;

}
.lin a{
    transition: 0.7s;
}
.moon1 a:hover{
    transform: scale(1.1);
    color: #275085;
}
.moon2 a:hover{
    transform: scale(1.1);
    color: #3900a3;
}
.moon3 a:hover{
    transform: scale(1.1);
    color: #4e2f06;
}
.ss{
    margin-top: 20px;
}
.ss a{
text-decoration: none;
color: #fdfdfd;
font-size: 1.6em;
transition: 0.7s;
}
.ss a:hover{
    transform: scale(1.2);
    color: red;
}
